.speakers ul{

    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.speakers li {
    /*background-color: blue;*/
    display: block;
    margin: 10px 10px 10px 10px;

}

.speakers li img{
    border: 2px solid #0094ff;
    border-radius:50%;
    width: 150px;
}

.speakers li span {
    display: block;
    text-align: center;
}