/* Styles for the register page */

.register form {
    max-width: 400px;    
}

.register .field {
    margin-bottom: 10px;
}

.register label {
    display: block;
}

.register input {
    display: block;
    padding: 4px;
    width: 100%;
   
}

.register select {
    display: block;
    padding: 4px;
    width: 100%;
   
}

.register button {
    padding: 5px;
    margin-right:5px;
}

.register #profileImage {
    width:200px;
    height:200px;
}